* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
body::before
{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    background: inherit;
    z-index: -1;
}



input[type="file"] {
    display: none;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.custom-file-upload{
    padding: 12px 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
    color: white;
}


#predictButton {
    background-color: #007bff;
}

#predictButton:hover {
    background-color: #0056b3;
}

h3.result {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}
.solution_heading{
  background:#ff9901 ;
  color: #ffffff;
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.hide{
    display: none;
}

#imagePreview {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

#imagePreview::after {
    content: "Upload Image";
    position: absolute;
    width: 250px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    }
.loader {
    display: none; 
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto; 
    }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
.container{
      margin-top: 5rem;
}
.full-container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
  }
.hidden{
display: none;
}
