body{
  background-color: #e68900;
}
canvas {
display: block;
width: 100%;
height: 400px;
max-width: 800px;
margin: 0 auto;
}

.dashboard-section {
margin-bottom: 40px;
background: #FFFFFF; /* White background for sections */
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for card effect */
}

.chart-container {
  width: 700px; /* Fixed width */
  height: 600px; /* Fixed height */
  margin: auto; /* Centers charts */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff; /* Optional: Background color */
  border-radius: 10px; /* Optional: Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Shadow */
  margin-bottom: 1.5rem;
}
.filter-section{
margin-top: 3rem;
margin-bottom: 0%;
}
.countrychart{
width: 900px;
height: 550px;
}
/* sidebar styles  */
body {
display: flex;
margin: 0;
}

.sidebar {
width: 250px;
height: 100vh;
position: fixed;
left: 0;
top: 0;
margin-top: 4rem;
background-color: #333;
color: white;
padding: 20px;
transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
transform: translateX(-100%);
}
.sidebar-material{
margin-top:5rem;
left: 50px;
}

.dashboard-content {
margin-left: 350px; /* This ensures the content starts after the sidebar */
padding: 20px;
transition: margin-left 0.3s ease-in-out;
width: 100%;
}

.sidebar.hidden + .dashboard-content {
margin-left: 0;
}

.toggle-btn {
position: fixed;   /* Keep fixed outside sidebar */
top: 20px;
left: 30px;       /* Adjust based on sidebar width */
background-color: #ff9800;
color: white;
border: none;
padding: 10px 15px;
cursor: pointer;
font-size: 1.5rem;
margin-top: 4rem;
z-index: 1001;     /* Ensure button is above sidebar */
}

.toggle-btn:hover {
background-color: #e68900;
}
.dashboard-content {
flex: 1;
margin-top: 3rem;
padding: 20px;
/* background: #ECF0F1;  */
/* background: #fdf7e2; */
}

/* Dashboard Section Styling */
.dashboard-section {
/* background-color: #e68900; */
margin-bottom: 40px;
background: #fdf7e2;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for card effect */
}
.dashboard-section .countrychart{
background-color: #fff;
margin-top: 1.5rem;
}
.dashboard-section .Tradechart{
background-color: #fff;
}
#tradeTypeChart{
height: 400px;
width: 400px;
margin-bottom: 1rem;
margin-left: 17rem;
margin-top: 2rem;
}
.dashboard-section .Tradechart {
width: auto;
align-items: center;
height: 500px;
margin-bottom: 2rem;
}
.exitbtn {
display: inline-block;
margin-top: 18rem;
  padding: 10px 20px;
  background-color: #ff7f50; /* Citrus color */
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.exitbtn:hover {
  /* background-color: #ff5722; */
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}
/* navbar  */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}