/* navbar  */

/* General Layout */
.dashboard-page {
  display: flex;
  /* height: 100vh; */
  font-family: "Poppins", sans-serif;
  background-color: #e68900;
}

/* Sidebar Styles */

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #f39c12;
  transition: opacity 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  position: relative;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  display: block; /* Expand clickable area */
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px 15px; /* Add padding for better interaction */
  transition: color 0.3s, transform 0.3s;
}

.sidebar ul li a:hover {
  color: #f1c40f; /* Citrus yellow hover */
  text-decoration: underline;
  transform: scale(1.1); /* Subtle scaling effect */
}

.toggle-btn {
  background: #f39c12; /* Citrus orange */
  border: none;
  color: white;
  font-size: 1.4rem;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.toggle-btn:hover {
  transform: rotate(90deg);
}

/* Main Content */


.dashboard-section h2 {
  font-size: 1.8rem;
  color: #27ae60; /* Lime green */
  margin-bottom: 10px;
}

.dashboard-section p {
  font-size: 1rem;
  color: #2c3e50; /* Dark gray for text */
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Chart Container */
/*.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ecf0f1; 
  border-radius: 10px;
  background: #f7f9f9;
}*/

/* Filters Styling */
.filter {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  /* background-color: #fdf7e2; */
}

.filter label {
  font-size: 1rem;
  font-weight: 500;
  color: #2c3e50;
}

.filter select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background: #ffffff;
  color: #2c3e50;
  cursor: pointer;
  transition: all 0.3s;
}

.filter select:hover {
  border-color: #27ae60;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar h2,
  .sidebar ul li a {
    font-size: 1rem;
  }

  .chart-container {
    height: 300px;
  }

  .filter select {
    width: 100%;
  }
}
/* filters css  */
.filter-section {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.filter-section label {
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
}

.filter-section select {
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  background-color: #ecf0f1;
  color: #2c3e50;
  transition: box-shadow 0.2s;
}

.filter-section select:focus {
  box-shadow: 0 0 5px #f39c12;
  outline: none;
}
/* .Tradechart{
  width: 700px;
  height: 700px;
  
} */
/* Area charts  */
#map {
  height: 400px;
  width: 100%;
  border: 1px solid #ecf0f1;
  border-radius: 10px;
  background: #f7f9f9; /* Subtle background */
}

/* Area charts  */
