    :root {
      --bg-color: #f1f5f9;
      --text-color: #0f172a;
      --header-bg: #fff;
      --primary-color: #3b82f6;
      --card-bg: #ffffff;
      --muted-text: #64748b;
      --item-bg: rgb(237, 243, 250);
      --profile-email: #475569;
      --badge-bg: #10b981;
    }

    body.dark {
      --bg-color: #0f172a;
      --text-color: #fff;
      --header-bg: #1e293b;
      --primary-color: #3b82f6;
      --card-bg: #1e293b;
      --muted-text: #94a3b8;
      --item-bg: #334155;
      --profile-email: #cbd5e1;
      --badge-bg: #10b981;
    }

    body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: var(--bg-color);
      color: var(--text-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: background-color 0.3s, color 0.3s;
    }

    header {
      width: 100%;
      text-align: center;
      padding: 20px 0;
      font-size: 24px;
      font-weight: bold;
      background-color: var(--header-bg);
      color: var(--primary-color);
    }

    .container {
      max-width: 1000px;
      width: 100%;
      padding: 20px;
      margin-top: 90px;
    }

    .tabs {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }

    .tab {
      background-color: var(--card-bg);
      color: var(--muted-text);
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      cursor: pointer;
    }

    .tab.active {
      background-color: var(--primary-color);
      color: white;
    }

    h1 {
      color: var(--primary-color);
    }

    ul.scan-list {
      list-style: none;
      padding: 0;
    }

    ul.scan-list li {
      background-color: var(--card-bg);
      margin-bottom: 12px;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .scan-info {
      display: flex;
      gap: 15px;
      align-items: center;
    }

    .scan-info i {
      color: var(--primary-color);
      font-size: 20px;
    }

    .scan-details strong {
      font-size: 16px;
    }

    .scan-details small {
      color: var(--muted-text);
      font-size: 13px;
    }

    .btn {
      background-color: var(--primary-color);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      text-decoration: none;
    }

    .theme-toggle {
      position: fixed;
      background-color: transparent;
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
      padding: 6px 12px;
      border-radius: 6px;
      cursor: pointer;
      margin-left:900px;
    }

    .theme-toggle:hover {
      background-color: var(--primary-color);
      color: white;
    }
    ul.links{
      margin-left:-35px;
    }